{% extends "base.html" %}
{% block content %}
  <a href="{{nutzer.get_url}}/change_follow_status">Follow</a>
  <img src="{{nutzer.gravatar}}">

  <div id="zwitsches">
    {% for zwitsch in zwitsches %}
      {{ zwitsch }}
    {% endfor %}
  </div>
{% endblock %}

{% block sidebar %}
    <div>
        <h3>Subscriptions</h3>
        {% for follower in nutzer.following %}
            <a href="{{follower.nutzer.get_url}}"><img alt="{{follower.nutzer.handle}}" src="{{follower.nutzer.gravatar}}"></a>
        {% endfor %}
    </div>
    <div>
        <h3>Subscribers</h3>
        {% for follower in nutzer.followed %}
            <a href="{{follower.followed_by.get_url}}"><img alt="{{follower.followed_by.handle}}" src="{{follower.followed_by.gravatar}}"></a>
        {% endfor %}
    </div>
{% endblock %}
